@import 'antd/dist/reset.css';

body {
    font-family: Arial, "Microsoft YaHei", "微软雅黑" !important;
}



.ant-modal-title {
    color  : white !important;
    padding: 12px 0 0 12px !important;
}

.ant-modal-close-icon {
    color : white;
    margin: -10px -20px 0 0 !important;
}


div.ant-modal-title>div>span {
    margin-right: 10px !important;
}


.ant-modal-header {
    color        : #fff !important;
    background   : hwb(126 9% 79%) !important;
    height       : 42px !important;
    border-radius: 2px 2px 0 0;
    margin       : -20px -24px 0 -24px !important;
    box-sizing   : border-box;
    box-shadow   : 0px 3px 6px rgba(0, 0, 0, 0.16);
    /* 添加阴影效果 */
    border-bottom: 0.5px solid #0f2512;
    /* 添加底部边框 */
}

.table_wrapper {
    padding         : 4px;
    background-color: white !important;
    background      : white !important;
    height          : auto !important;
    // overflow: scroll;
    min-width       : 100vh
}


.ant-table-wrapper::after {

    color           : red;
    background-color: white;
    background      : white;
}

.ant-select,
.ant-input-number-affix-wrapper,
.ant-input-number,
.ant-input-number-input-wrap {
    width: 346px !important;
}


.ant-btn-dangerous{
    color: #2e940d !important;
    border-color:#3b3b47 !important;
}

#webpack-dev-server-client-overlay {
    display: none !important;
  }