@import 'antd/dist/reset.css';

body {
    font-family: Arial, 'Microsoft YaHei', '微软雅黑' !important;
}

.ant-modal-title {
    color: white !important;
    padding: 12px 0 0 12px !important;
}

.ant-modal-close-icon {
    color: white;
    margin: -10px -20px 0 0 !important;
}

div.ant-modal-title > div > span {
    margin-right: 10px !important;
}

.ant-modal-header {
    color: #fff !important;
    background: hwb(126 9% 79%) !important;
    height: 42px !important;
    border-radius: 2px 2px 0 0;
    margin: -20px -24px 0 -24px !important;
    box-sizing: border-box;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    /* 添加阴影效果 */
    border-bottom: 0.5px solid #0f2512;
    /* 添加底部边框 */
}

.table_wrapper {
    padding: 4px;
    background-color: white !important;
    background: white !important;
    height: auto !important;
    min-width: 100vh;
}

.editor_table_wrapper {
    padding: 10px 10px 0px 10px;
    border: 0.5px dashed #2e940d;
    background-color: white !important;
    background: white !important;
    height: auto !important;
    min-width: 100vh;
}

.ant-table-wrapper::after {
    color: red;
    background-color: white;
    background: white;
}

.ant-select,
.ant-input-number-affix-wrapper,
.ant-input-number,
.ant-input-number-input-wrap {
    width: 346px !important;
}

.ant-btn-dangerous {
    color: #2e940d !important;
    border-color: #3b3b47 !important;
}

/*滚动条样式*/
::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 6px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 4px;
}

::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset 12px rgb(2, 78, 6) !important;
    background: rgb(2, 62, 5);
}

::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    -webkit-box-shadow: inset 12px rgb(185, 181, 186) !important;
    border-radius: 0;
    background: rgb(207, 201, 207);
}

// 错误信息屏蔽

#webpack-dev-server-client-overlay {
    display: none !important;
}

.btn-assign-menu {
    color: white;
    cursor: pointer;
    background-color: rgb(5, 82, 9);
    border: #fff;
    border-radius: 8px;
}

.btn-cancel-menu {
    color: white;
    cursor: pointer;
    border-radius: 8px;
    background-color: rgb(5, 82, 9);
    border: #fff;
}

.ant-tree-checkbox-disabled > span {
    border-color: rgb(5, 82, 9) !important;
}

.ant-tree-checkbox-disabled > span::after {
    border-color: rgb(5, 82, 9) !important;
}

// 顶部菜单

#navbar_collapse_bread {
    width: 33.33%;
    text-align: left;
    display: flex;
    flex-direction: row;
}

#navbar_preloader {
    flex: 1;
    width: 33.33%;
    display: none;
    text-align: center;
}

#navbar_dropdown {
    flex: 1;
    width: 33.33%;
    text-align: right;
    display: flex;
    padding-right: 15px;
    justify-content: flex-end;
}

// message
span.anticon.anticon-info-circle {
    color: #035017 !important;
}
span.anticon.anticon-check-circle {
    color: #035017 !important;
}

span.anticon.anticon-close-circle {
    color: #191819 !important;
}

span.anticon.anticon-exclamation-circle {
    color: #191819 !important;
}

.fromBox {
    width: 90%;
    display: flex;
    justify-content: flex-start; // 靠左对齐
    flex-wrap: wrap; // 换行
}

.formItem {
    display: flex;
    align-items: center; /* Align items vertically in the center */
    height: 44px;
    margin-right: 20px; // 增加边距
    width: calc((100% - 20px) / 5); // 这个是公式，减去边距以后一行放多少个。
}

.formItem svg {
      vertical-align: middle;
}


.ant-tabs-tab-active {
    background: rgb(1, 63, 24) !important;
}

.ant-tabs-tab-active > div {
    color: #d3e1d6 !important;
}

/** hero icons */

.w-5 {
    height: 20px;
    width: 20px;
    margin-right: 4px;
}
