@import 'antd/dist/reset.css';
@import 'modal-title.scss';


body {
    font-family: Arial, 'Microsoft YaHei', '微软雅黑' !important;
}


.table_wrapper {
    padding: 4px;
    background-color: white !important;
    background: white !important;
    height: auto !important;
    min-width: 100vh;
}

.editor_table_wrapper {
    padding: 10px 10px 0px 10px;
    border: 0.5px dashed #2e940d;
    background-color: white !important;
    background: white !important;
    height: auto !important;
    min-width: 100vh;
}

.ant-table-wrapper::after {
    color: red;
    background-color: white;
    background: white;
}

.ant-select,
.ant-input-number-affix-wrapper,
.ant-input-number,
.ant-input-number-input-wrap {
    width: 346px !important;
}

.ant-btn-dangerous {
    color: #2e940d !important;
    border-color: #3b3b47 !important;
}

.ant-btn-dangerous:hover {
    color: #d4ccd0 !important;
    border-color: #0d9450 !important;

}



/*滚动条样式*/
::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 6px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 4px;
}

::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset 12px rgb(2, 78, 6) !important;
    background: rgb(2, 62, 5);
}

::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    -webkit-box-shadow: inset 12px rgb(185, 181, 186) !important;
    border-radius: 0;
    background: rgb(207, 201, 207);
}

// 错误信息屏蔽

#webpack-dev-server-client-overlay {
    display: none !important;
}

.btn-assign-menu {
    color: white;
    cursor: pointer;
    background-color: rgb(5, 82, 9);
    border: #fff;
    border-radius: 8px;
}

.btn-cancel-menu {
    color: white;
    cursor: pointer;
    border-radius: 8px;
    background-color: rgb(5, 82, 9);
    border: #fff;
}

// 帮助

.help-tip {
    color: white;
    margin-left: 4px;
    border-radius: 4px;
    border: #fff;
}

.ant-tree-checkbox-disabled > span {
    border-color: rgb(5, 82, 9) !important;
}

.ant-tree-checkbox-disabled > span::after {
    border-color: rgb(5, 82, 9) !important;
}

// 顶部菜单

#navbar_collapse_bread {
    width: 33.33%;
    text-align: left;
    display: flex;
    flex-direction: row;
}

#navbar_preloader {
    flex: 1;
    width: 33.33%;
    display: none;
    text-align: center;
}

#navbar_dropdown {
    flex: 1;
    width: 33.33%;
    text-align: right;
    display: flex;
    padding-right: 15px;
    justify-content: flex-end;
}

// message
span.anticon.anticon-info-circle {
    color: #035017 !important;
}

span.anticon.anticon-check-circle {
    color: #035017 !important;
}

span.anticon.anticon-close-circle {
    color: #191819 !important;
}

span.anticon.anticon-exclamation-circle {
    color: #191819 !important;
}

.formWrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.fromBox {
    flex: 1 1 35%;
    /* 每个 fromBox 占据整行 */
    box-sizing: border-box;
    display: flex;
    /* 让 formItem 在同一行内显示 */
}

.formItem {
    display: flex;
    align-items: center;
    height: 44px;
    justify-content: flex-start; // 靠左对齐
    flex-direction: row;
}

.formItem:first-child {
    flex: 0 0 135px;
    /* 第一个 formItem 固定宽度 */
}

.formItemBig {
    display: flex;
    align-items: center;
    /* Align items vertically in the center */
    height: 44px;
    width: 676px !important;
}

.formItem svg {
    vertical-align: middle;
}

div.longSelect {
    width: 676px !important;
}

.ant-tabs-tab-active {
    background: rgb(1, 63, 24) !important;
}

.ant-tabs-tab-active > div {
    color: #d3e1d6 !important;
}

/** hero icons */

.w-5 {
    height: 20px;
    width: 20px;
    margin-right: 4px;
}

/* uform css hack */
/* Apply styles when input is hovered or focused */
.ant-input input:hover,
.ant-input input:focus,
.ant-input:focus-within,
.ant-input-number input:hover,
.ant-input-number input:focus,
.ant-input-number:focus-within {
    border-color: #225e04 !important;
}

/* Apply styles to the input when the parent wrapper is focused or focused within */
.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper:focus-within,
.ant-input-number-affix-wrapper:focus,
.ant-input-number-affix-wrapper:focus-within {
    border-color: #225e04 !important;
    box-shadow: 0 0 0 1px rgba(5, 145, 255, 0.1);
    outline: 0;
}

/* Apply styles to the wrapper when hovered, active, or focused */
.ant-input-affix-wrapper:hover,
.ant-input-affix-wrapper:active,
.ant-input-affix-wrapper:focus,
.ant-input-number-affix-wrapper:hover,
.ant-input-number-affix-wrapper:active,
.ant-input-number-affix-wrapper:focus {
    border: 1px solid #225e04 !important;
}

.ant-input:hover {
    border-color: #225e04 !important;
}

.ant-select-open,
.ant-select-selection-search {
    border-color: #225e04 !important;
}

.ant-select-open:focus-within {
    border-color: #225e04 !important;
}

.ant-select-open:focus {
    border-color: #225e04 !important;
}

.ant-select:hover {
    border-color: #225e04 !important;
}

.ant-select-selector:hover,
.ant-select-selector:focus,
.ant-select-selector:active {
    border-color: #225e04 !important;
}

 
.plugBox {
    box-sizing: border-box;
    display: flex;
    word-wrap: break-word !important;
    white-space: normal;
}

.bottom_border{
    border-bottom: 1px solid rgb(168, 166, 166) ;
}

.plugItem:nth-child(1) {
    flex: 0 0 30%; /* flex-grow: 0, flex-shrink: 0, flex-basis: 30% */
}

.plugItem:nth-child(2) {
    flex: 0 0 70%; /* flex-grow: 0, flex-shrink: 0, flex-basis: 70% */
}

.plugItem {
    font-size: 15px;
    display: flex;
    align-items: left;
    justify-content: flex-start; // 靠左对齐
}

.plugMemo {
    width: 260px !important;
    color: rgb(9, 3, 3) !important;
    overflow-wrap: break-word !important;
    font-size: 13px;
    padding-bottom: 6px;
    padding-top: 5px;
    margin-bottom: 6px;
}


// iconfontcn 
.icon {
    width: 14px;
    height: 14px;
    vertical-align: -2px;
    color: white;
    margin-right: 0px;
    fill: white;
    overflow: hidden;
  }

  
  .icon36px {
    width: 20px;
    height: 20px;
    vertical-align: -2px;
    margin-right: 4px;
    // fill: currentColor;
    overflow: hidden;
  }
  
  .pointerHand{
    cursor: pointer;
  }
 