.small_table 
{
font-size: 14px;
font-weight:440;
color:black ;

font-family: Microsoft YaHei, 微软雅黑, monospace
 

}


.ant-table-column-title{
  
font-size:16.5px;
font-weight: bold;
  
}


tr.ant-table-expanded-row, tr.ant-table-expanded-row:hover{
  background:white;
}

.big_table 
{
font-size: 16px;
font-weight:480;
color:black;
font-family: Microsoft YaHei, 微软雅黑, monospace

}
