@font-face {
  font-family: "iconfont"; /* Project id 4345568 */
  src: url('iconfont.woff2?t=1700962008435') format('woff2'),
       url('iconfont.woff?t=1700962008435') format('woff'),
       url('iconfont.ttf?t=1700962008435') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fridge:before {
  content: "\e6e9";
}

.icon-usb:before {
  content: "\e7f1";
}

.icon-frenchbread:before {
  content: "\e6ea";
}

.icon-user:before {
  content: "\e7f2";
}

.icon-frying-pan:before {
  content: "\e6eb";
}

.icon-user-folder:before {
  content: "\e7f3";
}

.icon-gameboy:before {
  content: "\e6ec";
}

.icon-vertical:before {
  content: "\e7f4";
}

.icon-gamepad1:before {
  content: "\e6ed";
}

.icon-video-camera:before {
  content: "\e7f5";
}

.icon-gamepad2:before {
  content: "\e6ee";
}

.icon-visible:before {
  content: "\e7f6";
}

.icon-gas-stove:before {
  content: "\e6ef";
}

.icon-volume-down:before {
  content: "\e7f7";
}

.icon-generator:before {
  content: "\e6f0";
}

.icon-volume-full:before {
  content: "\e7f8";
}

.icon-gift:before {
  content: "\e6f2";
}

.icon-volume-half:before {
  content: "\e7f9";
}

.icon-git1:before {
  content: "\e6f3";
}

.icon-vynil:before {
  content: "\e7fa";
}

.icon-git2:before {
  content: "\e6f4";
}

.icon-volume-up:before {
  content: "\e7fb";
}

.icon-git4:before {
  content: "\e6f5";
}

.icon-wallet:before {
  content: "\e7fc";
}

.icon-git3:before {
  content: "\e6f6";
}

.icon-waiting:before {
  content: "\e7fd";
}

.icon-glass-martini:before {
  content: "\e6f8";
}

.icon-wallet2:before {
  content: "\e7fe";
}

.icon-globe:before {
  content: "\e6f9";
}

.icon-wallet3:before {
  content: "\e7ff";
}

.icon-grater:before {
  content: "\e6fa";
}

.icon-warning-1-circle:before {
  content: "\e800";
}

.icon-group:before {
  content: "\e6fb";
}

.icon-warning-2:before {
  content: "\e801";
}

.icon-group-chat:before {
  content: "\e6fc";
}

.icon-washer:before {
  content: "\e802";
}

.icon-group-folders:before {
  content: "\e6fd";
}

.icon-watch1:before {
  content: "\e803";
}

.icon-h1:before {
  content: "\e6fe";
}

.icon-watch2:before {
  content: "\e804";
}

.icon-h2:before {
  content: "\e6ff";
}

.icon-water-mixer:before {
  content: "\e805";
}

.icon-half-heart:before {
  content: "\e700";
}

.icon-weight2:before {
  content: "\e806";
}

.icon-hanger:before {
  content: "\e701";
}

.icon-weight1:before {
  content: "\e807";
}

.icon-hard-drive:before {
  content: "\e702";
}

.icon-wi-fi:before {
  content: "\e808";
}

.icon-hat:before {
  content: "\e703";
}

.icon-wind:before {
  content: "\e809";
}

.icon-headphones:before {
  content: "\e704";
}

.icon-wine:before {
  content: "\e80a";
}

.icon-heart:before {
  content: "\e705";
}

.icon-wood1:before {
  content: "\e80b";
}

.icon-hidden:before {
  content: "\e706";
}

.icon-wood2:before {
  content: "\e80c";
}

.icon-horizontal:before {
  content: "\e707";
}

.icon-wood-horse:before {
  content: "\e80d";
}

.icon-hummer:before {
  content: "\e708";
}

.icon-write:before {
  content: "\e80e";
}

.icon-hummer2:before {
  content: "\e709";
}

.icon-youtube:before {
  content: "\e80f";
}

.icon-ice-cream1:before {
  content: "\e70a";
}

.icon-zoomminus:before {
  content: "\e810";
}

.icon-ice-cream2:before {
  content: "\e70b";
}

.icon-zoomplus:before {
  content: "\e811";
}

.icon-image:before {
  content: "\e70c";
}

.icon-import:before {
  content: "\e70d";
}

.icon-iphone-back:before {
  content: "\e70e";
}

.icon-iron:before {
  content: "\e70f";
}

.icon-itallic:before {
  content: "\e710";
}

.icon-iphone-x:before {
  content: "\e711";
}

.icon-join-1:before {
  content: "\e712";
}

.icon-join-2:before {
  content: "\e713";
}

.icon-join-3:before {
  content: "\e714";
}

.icon-kettle:before {
  content: "\e717";
}

.icon-key:before {
  content: "\e718";
}

.icon-kitchen-scale:before {
  content: "\e719";
}

.icon-keyboard:before {
  content: "\e71a";
}

.icon-knife1:before {
  content: "\e71b";
}

.icon-knife2:before {
  content: "\e71c";
}

.icon-knifeandfork1:before {
  content: "\e71d";
}

.icon-knifeandfork2:before {
  content: "\e71e";
}

.icon-ladder:before {
  content: "\e71f";
}

.icon-ladle:before {
  content: "\e720";
}

.icon-lamp2:before {
  content: "\e721";
}

.icon-lamp1:before {
  content: "\e722";
}

.icon-laptop:before {
  content: "\e723";
}

.icon-laptop-macbook:before {
  content: "\e724";
}

.icon-layers:before {
  content: "\e725";
}

.icon-layout-4-blocks:before {
  content: "\e726";
}

.icon-layout-3d:before {
  content: "\e727";
}

.icon-layout-arrange:before {
  content: "\e728";
}

.icon-layout-grid:before {
  content: "\e729";
}

.icon-layout-horizontal:before {
  content: "\e72a";
}

.icon-layout-left-panel-1:before {
  content: "\e72b";
}

.icon-layout-left-panel-2:before {
  content: "\e72c";
}

.icon-layout-polygon:before {
  content: "\e72d";
}

.icon-layout-right-panel-1:before {
  content: "\e72e";
}

.icon-layout-right-panel-2:before {
  content: "\e72f";
}

.icon-layout-top-panel-1:before {
  content: "\e730";
}

.icon-layout-top-panel-2:before {
  content: "\e731";
}

.icon-layout-top-panel-3:before {
  content: "\e732";
}

.icon-layout-top-panel-4:before {
  content: "\e733";
}

.icon-layout-top-panel-5:before {
  content: "\e734";
}

.icon-layout-top-panel-6:before {
  content: "\e735";
}

.icon-layout-vertical:before {
  content: "\e736";
}

.icon-left-2:before {
  content: "\e737";
}

.icon-left-circle:before {
  content: "\e738";
}

.icon-library:before {
  content: "\e739";
}

.icon-line:before {
  content: "\e73a";
}

.icon-like:before {
  content: "\e73b";
}

.icon-loader:before {
  content: "\e73c";
}

.icon-loading:before {
  content: "\e73d";
}

.icon-location-arrow:before {
  content: "\e73f";
}

.icon-lock:before {
  content: "\e740";
}

.icon-locked-folder:before {
  content: "\e741";
}

.icon-lock-overturning:before {
  content: "\e742";
}

.icon-lte1:before {
  content: "\e743";
}

.icon-magic:before {
  content: "\e744";
}

.icon-lte2:before {
  content: "\e745";
}

.icon-mail:before {
  content: "\e746";
}

.icon-mailbox:before {
  content: "\e747";
}

.icon-mail-box:before {
  content: "\e748";
}

.icon-mail-heart:before {
  content: "\e749";
}

.icon-mail-notification:before {
  content: "\e74a";
}

.icon-mail-opened:before {
  content: "\e74b";
}

.icon-marker1:before {
  content: "\e74c";
}

.icon-marker2:before {
  content: "\e74d";
}

.icon-mc:before {
  content: "\e74e";
}

.icon-media:before {
  content: "\e74f";
}

.icon-lock-circle:before {
  content: "\e750";
}

.icon-media-library3:before {
  content: "\e751";
}

.icon-menu:before {
  content: "\e752";
}

.icon-minus:before {
  content: "\e753";
}

.icon-music-cloud:before {
  content: "\e754";
}

.icon-mute:before {
  content: "\e755";
}

.icon-next:before {
  content: "\e756";
}

.icon-night-fog:before {
  content: "\e757";
}

.icon-notifications1:before {
  content: "\e758";
}

.icon-option:before {
  content: "\e759";
}

.icon-orange:before {
  content: "\e75a";
}

.icon-other1:before {
  content: "\e75b";
}

.icon-other2:before {
  content: "\e75c";
}

.icon-outgoing-box:before {
  content: "\e75d";
}

.icon-outgoing-mail:before {
  content: "\e75e";
}

.icon-pantone:before {
  content: "\e75f";
}

.icon-pause:before {
  content: "\e760";
}

.icon-pen-tool-vector:before {
  content: "\e761";
}

.icon-alarm-clock:before {
  content: "\e64a";
}

.icon-phone:before {
  content: "\e762";
}

.icon-add-music:before {
  content: "\e655";
}

.icon-picker:before {
  content: "\e763";
}

.icon-active-call:before {
  content: "\e656";
}

.icon-picture:before {
  content: "\e764";
}

.icon-address-card:before {
  content: "\e657";
}

.icon-pictures1:before {
  content: "\e766";
}

.icon-adjust:before {
  content: "\e659";
}

.icon-pictures2:before {
  content: "\e767";
}

.icon-add-user:before {
  content: "\e65c";
}

.icon-pixels:before {
  content: "\e768";
}

.icon-adress-book2:before {
  content: "\e65d";
}

.icon-pizza:before {
  content: "\e769";
}

.icon-adress-book1:before {
  content: "\e65e";
}

.icon-play:before {
  content: "\e76a";
}

.icon-air-dryer:before {
  content: "\e65f";
}

.icon-playlist2:before {
  content: "\e76b";
}

.icon-air-conditioning:before {
  content: "\e660";
}

.icon-plus:before {
  content: "\e76c";
}

.icon-airplay:before {
  content: "\e661";
}

.icon-polygon:before {
  content: "\e76d";
}

.icon-airplay-video:before {
  content: "\e662";
}

.icon-position:before {
  content: "\e76e";
}

.icon-align-auto:before {
  content: "\e663";
}

.icon-pound:before {
  content: "\e76f";
}

.icon-airpods:before {
  content: "\e664";
}

.icon-printer:before {
  content: "\e770";
}

.icon-align-justify:before {
  content: "\e665";
}

.icon-protected-file:before {
  content: "\e771";
}

.icon-align-center:before {
  content: "\e666";
}

.icon-quote1:before {
  content: "\e772";
}

.icon-align-left:before {
  content: "\e668";
}

.icon-radio:before {
  content: "\e773";
}

.icon-alarm-clock1:before {
  content: "\e669";
}

.icon-rainbow:before {
  content: "\e774";
}

.icon-anchor-center:before {
  content: "\e66a";
}

.icon-rec:before {
  content: "\e775";
}

.icon-anchor-center-down:before {
  content: "\e66b";
}

.icon-rectangle:before {
  content: "\e776";
}

.icon-align-right:before {
  content: "\e66c";
}

.icon-redo:before {
  content: "\e777";
}

.icon-anchor-center-up:before {
  content: "\e66d";
}

.icon-repeat:before {
  content: "\e778";
}

.icon-anchor-left:before {
  content: "\e66e";
}

.icon-repeat-one:before {
  content: "\e779";
}

.icon-anchor-left-down:before {
  content: "\e66f";
}

.icon-reply:before {
  content: "\e77a";
}

.icon-anchor-left-up:before {
  content: "\e670";
}

.icon-reply-all:before {
  content: "\e77b";
}

.icon-anchor-right:before {
  content: "\e671";
}

.icon-right3:before {
  content: "\e77c";
}

.icon-android:before {
  content: "\e672";
}

.icon-right:before {
  content: "\e77d";
}

.icon-anchor-right-down:before {
  content: "\e673";
}

.icon-right-2:before {
  content: "\e77e";
}

.icon-angle-double-down:before {
  content: "\e674";
}

.icon-right-circle:before {
  content: "\e77f";
}

.icon-angle-double-left:before {
  content: "\e675";
}

.icon-road-cone:before {
  content: "\e780";
}

.icon-anglegrinder:before {
  content: "\e676";
}

.icon-roller:before {
  content: "\e781";
}

.icon-angle-double-right:before {
  content: "\e677";
}

.icon-rolling-pin:before {
  content: "\e782";
}

.icon-angle-down:before {
  content: "\e678";
}

.icon-rouble:before {
  content: "\e783";
}

.icon-anchor-right-up:before {
  content: "\e67a";
}

.icon-roulette:before {
  content: "\e784";
}

.icon-angle-double-up:before {
  content: "\e67b";
}

.icon-route:before {
  content: "\e785";
}

.icon-angle-up:before {
  content: "\e67c";
}

.icon-router1:before {
  content: "\e786";
}

.icon-angle-right:before {
  content: "\e67d";
}

.icon-router2:before {
  content: "\e787";
}

.icon-apple-watch:before {
  content: "\e67e";
}

.icon-rss:before {
  content: "\e788";
}

.icon-angle-left:before {
  content: "\e67f";
}

.icon-ruller:before {
  content: "\e789";
}

.icon-archive:before {
  content: "\e680";
}

.icon-sad:before {
  content: "\e78a";
}

.icon-arrow-down:before {
  content: "\e681";
}

.icon-safe:before {
  content: "\e78b";
}

.icon-armchair:before {
  content: "\e682";
}

.icon-safe-chat:before {
  content: "\e78c";
}

.icon-arrow-from-bottom:before {
  content: "\e683";
}

.icon-sale1:before {
  content: "\e78d";
}

.icon-arrow-from-left:before {
  content: "\e684";
}

.icon-sale2:before {
  content: "\e78e";
}

.icon-arrow-from-right:before {
  content: "\e685";
}

.icon-saturation:before {
  content: "\e78f";
}

.icon-arrow-from-top:before {
  content: "\e686";
}

.icon-saucepan:before {
  content: "\e790";
}

.icon-arrow-left:before {
  content: "\e687";
}

.icon-save:before {
  content: "\e791";
}

.icon-arrow-right:before {
  content: "\e688";
}

.icon-scale:before {
  content: "\e792";
}

.icon-arrows:before {
  content: "\e68a";
}

.icon-scissors:before {
  content: "\e793";
}

.icon-arrows-h:before {
  content: "\e68c";
}

.icon-screwdriver:before {
  content: "\e794";
}

.icon-arrow-to-bottom:before {
  content: "\e68d";
}

.icon-search:before {
  content: "\e795";
}

.icon-arrows-v:before {
  content: "\e68e";
}

.icon-select:before {
  content: "\e796";
}

.icon-arrow-to-left:before {
  content: "\e68f";
}

.icon-selected-file:before {
  content: "\e797";
}

.icon-arrow-to-up:before {
  content: "\e690";
}

.icon-send:before {
  content: "\e798";
}

.icon-arrow-up:before {
  content: "\e691";
}

.icon-sendingmail:before {
  content: "\e799";
}

.icon-arrow-to-right:before {
  content: "\e692";
}

.icon-sending:before {
  content: "\e79a";
}

.icon-article:before {
  content: "\e693";
}

.icon-server:before {
  content: "\e79b";
}

.icon-atm:before {
  content: "\e694";
}

.icon-settings3:before {
  content: "\e79c";
}

.icon-attachment1:before {
  content: "\e695";
}

.icon-settings:before {
  content: "\e79d";
}

.icon-attachment2:before {
  content: "\e696";
}

.icon-settings-1:before {
  content: "\e79e";
}

.icon-backspace:before {
  content: "\e697";
}

.icon-settings-2:before {
  content: "\e79f";
}

.icon-back:before {
  content: "\e698";
}

.icon-settings4:before {
  content: "\e7a0";
}

.icon-axe:before {
  content: "\e699";
}

.icon-share:before {
  content: "\e7a1";
}

.icon-backward:before {
  content: "\e69a";
}

.icon-shield-check:before {
  content: "\e7a2";
}

.icon-bag2:before {
  content: "\e69b";
}

.icon-shield-disabled:before {
  content: "\e7a3";
}

.icon-bag1:before {
  content: "\e69c";
}

.icon-shield-protected:before {
  content: "\e7a4";
}

.icon-baking-glove:before {
  content: "\e69d";
}

.icon-shield-thunder:before {
  content: "\e7a5";
}

.icon-barcode:before {
  content: "\e69e";
}

.icon-shift:before {
  content: "\e7a6";
}

.icon-bag-chair:before {
  content: "\e69f";
}

.icon-shield-user:before {
  content: "\e7a7";
}

.icon-barcode-read:before {
  content: "\e6a0";
}

.icon-shirt:before {
  content: "\e7a8";
}

.icon-bath:before {
  content: "\e6a1";
}

.icon-shorts:before {
  content: "\e7a9";
}

.icon-barcode-scan:before {
  content: "\e6a2";
}

.icon-shoes:before {
  content: "\e7aa";
}

.icon-battery-charging:before {
  content: "\e6a4";
}

.icon-shovel:before {
  content: "\e7ab";
}

.icon-battery-full:before {
  content: "\e6a5";
}

.icon-shuffle:before {
  content: "\e7ac";
}

.icon-battery-empty:before {
  content: "\e6a6";
}

.icon-shutdown:before {
  content: "\e7ad";
}

.icon-battery-half:before {
  content: "\e6a7";
}

.icon-sign-in:before {
  content: "\e7ae";
}

.icon-bed:before {
  content: "\e6a9";
}

.icon-sign-out:before {
  content: "\e7af";
}

.icon-binocular:before {
  content: "\e6aa";
}

.icon-size:before {
  content: "\e7b0";
}

.icon-beer:before {
  content: "\e6ab";
}

.icon-snoozed-mail:before {
  content: "\e7b1";
}

.icon-blender:before {
  content: "\e6ac";
}

.icon-snow2:before {
  content: "\e7b2";
}

.icon-bold:before {
  content: "\e6ad";
}

.icon-snow1:before {
  content: "\e7b3";
}

.icon-bezier-curve:before {
  content: "\e6ae";
}

.icon-snow3:before {
  content: "\e7b4";
}

.icon-book:before {
  content: "\e6af";
}

.icon-socket-eu:before {
  content: "\e7b5";
}

.icon-bitcoin:before {
  content: "\e6b0";
}

.icon-snow:before {
  content: "\e7b6";
}

.icon-bluetooth:before {
  content: "\e6b1";
}

.icon-socket-us:before {
  content: "\e7b7";
}

.icon-book-open:before {
  content: "\e6b2";
}

.icon-socks:before {
  content: "\e7b8";
}

.icon-bookmark:before {
  content: "\e6b3";
}

.icon-sort2:before {
  content: "\e7b9";
}

.icon-border:before {
  content: "\e6b4";
}

.icon-sort3:before {
  content: "\e7ba";
}

.icon-bottle1:before {
  content: "\e6b5";
}

.icon-spam:before {
  content: "\e7bb";
}

.icon-box2:before {
  content: "\e6b6";
}

.icon-speaker:before {
  content: "\e7bc";
}

.icon-brassiere:before {
  content: "\e6b7";
}

.icon-spatula:before {
  content: "\e7bd";
}

.icon-bread:before {
  content: "\e6b8";
}

.icon-spoon:before {
  content: "\e7be";
}

.icon-briefcase:before {
  content: "\e6b9";
}

.icon-spy:before {
  content: "\e7bf";
}

.icon-bullet-list:before {
  content: "\e6ba";
}

.icon-stairs:before {
  content: "\e7c0";
}

.icon-cd:before {
  content: "\e6bb";
}

.icon-stamp:before {
  content: "\e7c1";
}

.icon-chart-line1:before {
  content: "\e6bc";
}

.icon-star:before {
  content: "\e7c2";
}

.icon-chat1:before {
  content: "\e6bd";
}

.icon-stop:before {
  content: "\e7c3";
}

.icon-clip:before {
  content: "\e6be";
}

.icon-storm:before {
  content: "\e7c4";
}

.icon-cmd:before {
  content: "\e6bf";
}

.icon-strikethrough:before {
  content: "\e7c5";
}

.icon-component:before {
  content: "\e6c0";
}

.icon-substract:before {
  content: "\e7c6";
}

.icon-commode2:before {
  content: "\e6c1";
}

.icon-sun-fog:before {
  content: "\e7c7";
}

.icon-control:before {
  content: "\e6c2";
}

.icon-sun:before {
  content: "\e7c8";
}

.icon-crop:before {
  content: "\e6c3";
}

.icon-suset1:before {
  content: "\e7c9";
}

.icon-cupboard:before {
  content: "\e6c4";
}

.icon-suset2:before {
  content: "\e7ca";
}

.icon-cursor:before {
  content: "\e6c5";
}

.icon-sushi:before {
  content: "\e7cb";
}

.icon-deleted-file:before {
  content: "\e6c6";
}

.icon-swiss-knife:before {
  content: "\e7cc";
}

.icon-delete-user:before {
  content: "\e6c7";
}

.icon-tablet:before {
  content: "\e7cd";
}

.icon-done-circle:before {
  content: "\e6c8";
}

.icon-target:before {
  content: "\e7ce";
}

.icon-dots:before {
  content: "\e6c9";
}

.icon-temperature-empty:before {
  content: "\e7cf";
}

.icon-down-2:before {
  content: "\e6ca";
}

.icon-terminal:before {
  content: "\e7d0";
}

.icon-down-left:before {
  content: "\e6cb";
}

.icon-text:before {
  content: "\e7d1";
}

.icon-download:before {
  content: "\e6cc";
}

.icon-text-height:before {
  content: "\e7d2";
}

.icon-downloads-folder:before {
  content: "\e6cd";
}

.icon-text-width:before {
  content: "\e7d3";
}

.icon-down-right:before {
  content: "\e6ce";
}

.icon-thumbtack:before {
  content: "\e7d4";
}

.icon-dvd:before {
  content: "\e6cf";
}

.icon-thunder:before {
  content: "\e7d5";
}

.icon-duplicate:before {
  content: "\e6d0";
}

.icon-thunder-circle:before {
  content: "\e7d6";
}

.icon-edit-text:before {
  content: "\e6d1";
}

.icon-thunder-night:before {
  content: "\e7d7";
}

.icon-edit:before {
  content: "\e6d2";
}

.icon-ticket:before {
  content: "\e7d8";
}

.icon-eject:before {
  content: "\e6d3";
}

.icon-time-schedule:before {
  content: "\e7d9";
}

.icon-equalizer:before {
  content: "\e6d4";
}

.icon-toggle:before {
  content: "\e7da";
}

.icon-exchange:before {
  content: "\e6d5";
}

.icon-toilet:before {
  content: "\e7db";
}

.icon-export:before {
  content: "\e6d6";
}

.icon-tools:before {
  content: "\e7dc";
}

.icon-file1:before {
  content: "\e6d7";
}

.icon-trash:before {
  content: "\e7dd";
}

.icon-filter:before {
  content: "\e6d8";
}

.icon-triangle:before {
  content: "\e7de";
}

.icon-flatten:before {
  content: "\e6d9";
}

.icon-towel:before {
  content: "\e7df";
}

.icon-flip-horizontal:before {
  content: "\e6da";
}

.icon-t-shirt:before {
  content: "\e7e0";
}

.icon-flip-vertical:before {
  content: "\e6db";
}

.icon-tv1:before {
  content: "\e7e1";
}

.icon-flower2:before {
  content: "\e6dc";
}

.icon-tv2:before {
  content: "\e7e2";
}

.icon-folder-cloud:before {
  content: "\e6dd";
}

.icon-two-bottles:before {
  content: "\e7e3";
}

.icon-folder-error:before {
  content: "\e6de";
}

.icon-umbrella:before {
  content: "\e7e4";
}

.icon-folder-heart:before {
  content: "\e6df";
}

.icon-underline:before {
  content: "\e7e5";
}

.icon-folder-minus:before {
  content: "\e6e0";
}

.icon-undo:before {
  content: "\e7e6";
}

.icon-folder-plus:before {
  content: "\e6e1";
}

.icon-union:before {
  content: "\e7e7";
}

.icon-folder-solid:before {
  content: "\e6e2";
}

.icon-up-2:before {
  content: "\e7e8";
}

.icon-folder-thunder:before {
  content: "\e6e3";
}

.icon-update:before {
  content: "\e7e9";
}

.icon-folder-star:before {
  content: "\e6e4";
}

.icon-up-down:before {
  content: "\e7ea";
}

.icon-fork-spoon:before {
  content: "\e6e5";
}

.icon-uploaded-file:before {
  content: "\e7ec";
}

.icon-fork:before {
  content: "\e6e6";
}

.icon-upload-folder:before {
  content: "\e7ee";
}

.icon-fork-spoon-knife:before {
  content: "\e6e7";
}

.icon-up-right:before {
  content: "\e7ef";
}

.icon-forward:before {
  content: "\e6e8";
}

.icon-urgent-mail:before {
  content: "\e7f0";
}

.icon-dashboard1:before {
  content: "\e6f7";
}

.icon-dashboard2:before {
  content: "\e658";
}

.icon-Click-icons-Copy:before {
  content: "\e618";
}

.icon-dashboard3:before {
  content: "\e6f1";
}

.icon-Dashboard:before {
  content: "\e603";
}

.icon-document:before {
  content: "\e608";
}

.icon-Documents:before {
  content: "\ec31";
}

.icon-Document:before {
  content: "\e689";
}

.icon-file:before {
  content: "\e654";
}

.icon-document-file-qt1:before {
  content: "\eb8d";
}

.icon-dashboard:before {
  content: "\e95d";
}

.icon-CSV:before {
  content: "\e63e";
}

.icon-TET:before {
  content: "\e63f";
}

.icon-JPG:before {
  content: "\e640";
}

.icon-VIDEO:before {
  content: "\e643";
}

.icon-WORD:before {
  content: "\e644";
}

.icon-PNG:before {
  content: "\e645";
}

.icon-GIF:before {
  content: "\e646";
}

.icon-zijinfenxi:before {
  content: "\e647";
}

.icon-ECEL:before {
  content: "\e648";
}

.icon-OUTLOOK:before {
  content: "\e649";
}

.icon-tupianziliao:before {
  content: "\e64b";
}

.icon-zonghewendang:before {
  content: "\e64c";
}

.icon-dianziyoujian:before {
  content: "\e64d";
}

.icon-mimazidian:before {
  content: "\e64f";
}

.icon-dianzihuadan:before {
  content: "\e650";
}

.icon-DATA:before {
  content: "\e651";
}

.icon-EML:before {
  content: "\e652";
}

.icon-PDF1:before {
  content: "\e653";
}

.icon-top-dashboard:before {
  content: "\e765";
}

.icon-pdf:before {
  content: "\e65b";
}

.icon-Icon-fill-question:before {
  content: "\e7ed";
}

.icon-PDF2:before {
  content: "\e667";
}

.icon-gpt:before {
  content: "\e68b";
}

.icon-function:before {
  content: "\e6a3";
}

.icon-preview:before {
  content: "\e64e";
}

.icon-view:before {
  content: "\e60b";
}

.icon-a-DefineFunction:before {
  content: "\e609";
}

.icon-zip:before {
  content: "\e6a8";
}

.icon-word:before {
  content: "\e623";
}

.icon-zip1:before {
  content: "\e65a";
}

.icon-PPT:before {
  content: "\e642";
}

.icon-Download:before {
  content: "\e679";
}

.icon-word1:before {
  content: "\e716";
}

.icon-Download1:before {
  content: "\eaa8";
}

.icon-Upload:before {
  content: "\eaba";
}

.icon-word2:before {
  content: "\e613";
}

.icon-upload:before {
  content: "\e73e";
}

.icon-upload1:before {
  content: "\e615";
}

.icon-Upload1:before {
  content: "\e629";
}

.icon-ppt:before {
  content: "\e61a";
}

.icon-upload2:before {
  content: "\e61b";
}

.icon-excel:before {
  content: "\e641";
}

.icon-ChatGPT:before {
  content: "\e62d";
}

.icon-chatgpticon:before {
  content: "\e635";
}

.icon-chatgpt:before {
  content: "\e63c";
}

.icon-PDF:before {
  content: "\e715";
}

