@font-face {
  font-family: "iconfont"; /* Project id 4345568 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1700869230345') format('woff2'),
       url('iconfont.woff?t=1700869230345') format('woff'),
       url('iconfont.ttf?t=1700869230345') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dashboard:before {
  content: "\e95d";
}

.icon-CSV:before {
  content: "\e63e";
}

.icon-TET:before {
  content: "\e63f";
}

.icon-JPG:before {
  content: "\e640";
}

.icon-VIDEO:before {
  content: "\e643";
}

.icon-WORD:before {
  content: "\e644";
}

.icon-PNG:before {
  content: "\e645";
}

.icon-GIF:before {
  content: "\e646";
}

.icon-zijinfenxi:before {
  content: "\e647";
}

.icon-ECEL:before {
  content: "\e648";
}

.icon-OUTLOOK:before {
  content: "\e649";
}

.icon-tupianziliao:before {
  content: "\e64b";
}

.icon-zonghewendang:before {
  content: "\e64c";
}

.icon-dianziyoujian:before {
  content: "\e64d";
}

.icon-mimazidian:before {
  content: "\e64f";
}

.icon-dianzihuadan:before {
  content: "\e650";
}

.icon-DATA:before {
  content: "\e651";
}

.icon-EML:before {
  content: "\e652";
}

.icon-PDF1:before {
  content: "\e653";
}

.icon-top-dashboard:before {
  content: "\e765";
}

.icon-pdf:before {
  content: "\e65b";
}

.icon-Icon-fill-question:before {
  content: "\e7ed";
}

.icon-PDF2:before {
  content: "\e667";
}

.icon-gpt:before {
  content: "\e68b";
}

.icon-function:before {
  content: "\e6a3";
}

.icon-preview:before {
  content: "\e64e";
}

.icon-view:before {
  content: "\e60b";
}

.icon-a-DefineFunction:before {
  content: "\e609";
}

.icon-zip:before {
  content: "\e6a8";
}

.icon-word:before {
  content: "\e623";
}

.icon-zip1:before {
  content: "\e65a";
}

.icon-PPT:before {
  content: "\e642";
}

.icon-Download:before {
  content: "\e679";
}

.icon-word1:before {
  content: "\e716";
}

.icon-Download1:before {
  content: "\eaa8";
}

.icon-Upload:before {
  content: "\eaba";
}

.icon-word2:before {
  content: "\e613";
}

.icon-upload:before {
  content: "\e73e";
}

.icon-upload1:before {
  content: "\e615";
}

.icon-Upload1:before {
  content: "\e629";
}

.icon-ppt:before {
  content: "\e61a";
}

.icon-upload2:before {
  content: "\e61b";
}

.icon-excel:before {
  content: "\e641";
}

.icon-ChatGPT:before {
  content: "\e62d";
}

.icon-chatgpticon:before {
  content: "\e635";
}

.icon-chatgpt:before {
  content: "\e63c";
}

.icon-PDF:before {
  content: "\e715";
}

